In [49]:
import pandas as pd
df = pd.read_csv('2023.csv')
df.head()

       Date    Description         Type   Latitude  Longitude
0  1/1/2023         FRAUDS  MISDEMEANOR  40.858943 -73.932548
1  1/1/2023         FRAUDS  MISDEMEANOR  40.831271 -73.948241
2  1/1/2023    THEFT-FRAUD       FELONY  40.736312 -74.007464
3  1/1/2023  GRAND LARCENY       FELONY  40.758772 -73.973874
4  1/1/2023  HARRASSMENT 2    VIOLATION  40.712882 -73.980783

In [3]:
unique_counts = df['Description'].value_counts()

for value, count in unique_counts.items():
    print(f"{value}: {count}")

PETIT LARCENY: 24407
HARRASSMENT 2: 12828
GRAND LARCENY: 11816
CRIMINAL MISCHIEF & RELATED OF: 10002
ASSAULT 3 & RELATED OFFENSES: 8633
BURGLARY: 4666
FELONY ASSAULT: 3764
OFF. AGNST PUB ORD SENSBLTY &: 3339
ROBBERY: 3051
DANGEROUS DRUGS: 2384
MISCELLANEOUS PENAL LAW: 1722
OFFENSES AGAINST PUBLIC ADMINI: 1576
GRAND LARCENY OF MOTOR VEHICLE: 1374
SEX CRIMES: 1138
VEHICLE AND TRAFFIC LAWS: 1064
DANGEROUS WEAPONS: 812
THEFT-FRAUD: 724
CRIMINAL TRESPASS: 632
FRAUDS: 495
FORGERY: 438
POSSESSION OF STOLEN PROPERTY: 313
INTOXICATED & IMPAIRED DRIVING: 280
RAPE: 245
OFFENSES AGAINST THE PERSON: 235
OFFENSES INVOLVING FRAUD: 207
NYS LAWS-UNCLASSIFIED FELONY: 204
UNAUTHORIZED USE OF A VEHICLE: 199
OTHER OFFENSES RELATED TO THEF: 165
ARSON: 133
ADMINISTRATIVE CODE: 94
BURGLAR'S TOOLS: 89
MURDER & NON-NEGL. MANSLAUGHTER: 83
THEFT OF SERVICES: 59
OTHER STATE LAWS (NON PENAL LA: 34
FRAUDULENT ACCOSTING: 31
AGRICULTURE & MRKTS LAW-UNCLASSIFIED: 25
GAMBLING: 21
PETIT LARCENY OF MOTOR VEHICLE: 17
KIDNAPPING & RELATED OFFENSES: 16
OFFENSES AGAINST PUBLIC SAFETY: 13
JOSTLING: 7
DISORDERLY CONDUCT: 6
HOMICIDE-NEGLIGENT,UNCLASSIFIE: 5
CHILD ABANDONMENT/NON SUPPORT: 5
PROSTITUTION & RELATED OFFENSES: 3
FELONY SEX CRIMES: 2
ESCAPE 3: 2
NEW YORK CITY HEALTH CODE: 2
NYS LAWS-UNCLASSIFIED VIOLATION: 1
OTHER STATE LAWS: 1
(null): 1
ALCOHOLIC BEVERAGE CONTROL LAW: 1
FORTUNE TELLING: 1

In [51]:
# Defining keywords for categorization
violent_keywords = ['ASSAULT', 'MURDER', 'ROBBERY', 'KIDNAPPING', 'DISTURBANCE', 'BOMB', 'THREAT',
                    'CRASH', 'WEAPON', 'DEADLY', 'RAPE', 'FELON', 'ARSON', 'EXPLOSIVE', 'INJURY', 'TERRORISTIC', 'HOMICIDE']
theft_keywords = ['THEFT', 'BURGLARY', 'SHOPLIFTING', 'AUTO THEFT', 'CARD', 'FORGERY', 'COUNTERFEITING', 
                  'LARCENY', 'THEF', 'STOLEN', 'FRAUDS']

# Function to categorize crimes based on keywords
def categorize_crime(description):
    description_upper = description.upper()  # Convert to uppercase for case-insensitive matching
    
    if any(keyword in description_upper for keyword in violent_keywords):
        return 'Violent'
    elif any(keyword in description_upper for keyword in theft_keywords):
        return 'Theft'
    else:
        return 'Other'

# Applying the function to create a new column 'type'
df['category'] = df['Description'].apply(categorize_crime)

# Displaying the DataFrame
print(df)

              Date                     Description         Type   Latitude  \
0         1/1/2023                          FRAUDS  MISDEMEANOR  40.858943
1         1/1/2023                          FRAUDS  MISDEMEANOR  40.831271
2         1/1/2023                     THEFT-FRAUD       FELONY  40.736312
3         1/1/2023                   GRAND LARCENY       FELONY  40.758772
4         1/1/2023                   HARRASSMENT 2    VIOLATION  40.712882
...            ...                             ...          ...        ...
129703  12/31/2023    ASSAULT 3 & RELATED OFFENSES  MISDEMEANOR  40.757232
129704  12/31/2023                        JOSTLING  MISDEMEANOR  40.757232
129705  12/31/2023  OFFENSES AGAINST PUBLIC ADMINI  MISDEMEANOR  40.711945
129706  12/31/2023                  FELONY ASSAULT       FELONY  40.812592
129707  12/31/2023    ASSAULT 3 & RELATED OFFENSES  MISDEMEANOR  40.767316

        Longitude category
0      -73.932548    Theft
1      -73.948241    Theft
2      -74.007464    Theft
3      -73.973874    Theft
4      -73.980783    Other
...           ...      ...
129703 -73.989792  Violent
129704 -73.989792    Other
129705 -73.989853    Other
129706 -73.952026  Violent
129707 -73.984297  Violent

[129708 rows x 6 columns]

In [53]:
output_file = '2023.csv'
df.to_csv(output_file, index=False)

print(f"Modified CSV file saved as {output_file}")

Modified CSV file saved as 2023.csv