In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
initial_df = pd.read_csv("data/Crime_Reports.csv")
initial_df

C:\Users\paul1\AppData\Local\Temp\ipykernel_11824\1259827394.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  initial_df = pd.read_csv("data/Crime_Reports.csv")

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,...,Y-coordinate,Latitude,Longitude,Location,Zip Codes,Single Member Council Districts,BOUNDARIES_single_member_districts,Zoning Review Cases_data,Neighborhood Planning Areas,Boundaries: City of Austin Council Districts
0,2.024188e+10,ASSAULT WITH INJURY,900,N,7/6/2024 22:53,7/6/2024,2253,7/6/2024 22:53,7/6/2024,2253,...,10060529.0,30.239642,-97.727867,"(30.23964224, -97.72786734)","3,256",3.0,3.0,102,64.0,1.0
1,2.024188e+10,FAMILY DISTURBANCE,3400,N,7/6/2024 14:57,7/6/2024,1457,7/6/2024 14:57,7/6/2024,1457,...,10034766.0,30.170268,-97.801736,"(30.17026772, -97.80173567)","3,637",5.0,1.0,826,NaN,4.0
2,2.024190e+11,FAMILY DISTURBANCE,3400,N,7/6/2024 0:25,7/6/2024,25,7/6/2024 0:25,7/6/2024,25,...,10046348.0,30.201093,-97.750254,"(30.20109332, -97.75025436)","3,258",2.0,4.0,NaN,39.0,3.0
3,2.024188e+10,CRIMINAL MISCHIEF,1400,N,7/6/2024 11:26,7/6/2024,1126,7/6/2024 11:26,7/6/2024,1126,...,10103273.0,30.354953,-97.619379,"(30.35495325, -97.6193788)","3,643",1.0,8.0,NaN,NaN,10.0
4,2.024188e+10,AGG ASSAULT,402,N,7/6/2024 20:45,7/6/2024,2045,7/6/2024 20:45,7/6/2024,2045,...,10117687.0,30.396289,-97.700514,"(30.3962885, -97.70051429)","3,646",7.0,7.0,NaN,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407686,2.020207e+08,FAMILY DISTURBANCE,3400,N,1/2/2020 12:20,1/2/2020,1220,1/2/2020 14:24,1/2/2020,1424,...,10077166.0,30.286072,-97.761145,"(30.28607193, -97.76114471)","2,858",9.0,10.0,NaN,12.0,6.0
407687,2.020212e+08,AUTO THEFT,700,N,1/2/2020 4:18,1/2/2020,418,1/2/2020 16:47,1/2/2020,1647,...,10117501.0,30.394689,-97.648008,"(30.3946887, -97.64800806)","3,642",7.0,7.0,"1,491",NaN,5.0
407688,2.020217e+08,CRIMINAL TRESPASS,2716,N,1/2/2020 22:25,1/2/2020,2225,1/2/2020 22:25,1/2/2020,2225,...,10104599.0,30.360633,-97.717193,"(30.36063288, -97.71719328)","3,646",7.0,7.0,NaN,9.0,5.0
407689,2.020218e+08,POSS CONTROLLED SUB/NARCOTIC,1800,N,1/2/2020 22:47,1/2/2020,2247,1/2/2020 22:47,1/2/2020,2247,...,10097407.0,30.340367,-97.693539,"(30.34036748, -97.69353921)","3,642",4.0,9.0,"2,133",17.0,2.0
407690,2.020800e+10,BURGLARY OF VEHICLE,601,N,1/2/2020 1:00,1/2/2020,100,1/2/2020 15:31,1/2/2020,1531,...,10070090.0,30.266025,-97.732114,"(30.26602454, -97.73211399)","2,857",3.0,3.0,"3,316",56.0,1.0

In [3]:
initial_df.columns

Index(['Incident Number', 'Highest Offense Description',
       'Highest Offense Code', 'Family Violence', 'Occurred Date Time',
       'Occurred Date', 'Occurred Time', 'Report Date Time', 'Report Date',
       'Report Time', 'Location Type', 'Address', 'Zip Code',
       'Council District', 'APD Sector', 'APD District', 'PRA', 'Census Tract',
       'Clearance Status', 'Clearance Date', 'UCR Category',
       'Category Description', 'X-coordinate', 'Y-coordinate', 'Latitude',
       'Longitude', 'Location', 'Zip Codes', 'Single Member Council Districts',
       'BOUNDARIES_single_member_districts', 'Zoning Review Cases_data',
       'Neighborhood Planning Areas',
       'Boundaries: City of Austin Council Districts'],
      dtype='object')

In [4]:
columns_to_keep = ['Highest Offense Description', 'Family Violence', 'Occurred Date', 'Latitude', 'Longitude']
second_df = initial_df[columns_to_keep].copy()

second_df

,Highest Offense Description,Family Violence,Occurred Date,Latitude,Longitude
0,ASSAULT WITH INJURY,N,7/6/2024,30.239642,-97.727867
1,FAMILY DISTURBANCE,N,7/6/2024,30.170268,-97.801736
2,FAMILY DISTURBANCE,N,7/6/2024,30.201093,-97.750254
3,CRIMINAL MISCHIEF,N,7/6/2024,30.354953,-97.619379
4,AGG ASSAULT,N,7/6/2024,30.396289,-97.700514
...,...,...,...,...,...
407686,FAMILY DISTURBANCE,N,1/2/2020,30.286072,-97.761145
407687,AUTO THEFT,N,1/2/2020,30.394689,-97.648008
407688,CRIMINAL TRESPASS,N,1/2/2020,30.360633,-97.717193
407689,POSS CONTROLLED SUB/NARCOTIC,N,1/2/2020,30.340367,-97.693539
407690,BURGLARY OF VEHICLE,N,1/2/2020,30.266025,-97.732114

In [5]:
third_df = second_df[second_df["Family Violence"] != "Y"]
third_df.reset_index(drop=True , inplace=True)
third_df

,Highest Offense Description,Family Violence,Occurred Date,Latitude,Longitude
0,ASSAULT WITH INJURY,N,7/6/2024,30.239642,-97.727867
1,FAMILY DISTURBANCE,N,7/6/2024,30.170268,-97.801736
2,FAMILY DISTURBANCE,N,7/6/2024,30.201093,-97.750254
3,CRIMINAL MISCHIEF,N,7/6/2024,30.354953,-97.619379
4,AGG ASSAULT,N,7/6/2024,30.396289,-97.700514
...,...,...,...,...,...
375183,FAMILY DISTURBANCE,N,1/2/2020,30.286072,-97.761145
375184,AUTO THEFT,N,1/2/2020,30.394689,-97.648008
375185,CRIMINAL TRESPASS,N,1/2/2020,30.360633,-97.717193
375186,POSS CONTROLLED SUB/NARCOTIC,N,1/2/2020,30.340367,-97.693539
375187,BURGLARY OF VEHICLE,N,1/2/2020,30.266025,-97.732114

In [11]:
columns_to_keep2 = ['Highest Offense Description', 'Occurred Date', 'Latitude', 'Longitude']
fourth_df = third_df[columns_to_keep2].copy()
fourth_df

         Highest Offense Description Occurred Date   Latitude  Longitude
0                ASSAULT WITH INJURY      7/6/2024  30.239642 -97.727867
1                 FAMILY DISTURBANCE      7/6/2024  30.170268 -97.801736
2                 FAMILY DISTURBANCE      7/6/2024  30.201093 -97.750254
3                  CRIMINAL MISCHIEF      7/6/2024  30.354953 -97.619379
4                        AGG ASSAULT      7/6/2024  30.396289 -97.700514
...                              ...           ...        ...        ...
375183            FAMILY DISTURBANCE      1/2/2020  30.286072 -97.761145
375184                    AUTO THEFT      1/2/2020  30.394689 -97.648008
375185             CRIMINAL TRESPASS      1/2/2020  30.360633 -97.717193
375186  POSS CONTROLLED SUB/NARCOTIC      1/2/2020  30.340367 -97.693539
375187           BURGLARY OF VEHICLE      1/2/2020  30.266025 -97.732114

[375188 rows x 4 columns]

In [13]:
fourth_df["year"] = fourth_df["Occurred Date"].str[-4:]
fourth_df.drop(columns=["Occurred Date"], inplace=True)
fourth_df

         Highest Offense Description   Latitude  Longitude  year
0                ASSAULT WITH INJURY  30.239642 -97.727867  2024
1                 FAMILY DISTURBANCE  30.170268 -97.801736  2024
2                 FAMILY DISTURBANCE  30.201093 -97.750254  2024
3                  CRIMINAL MISCHIEF  30.354953 -97.619379  2024
4                        AGG ASSAULT  30.396289 -97.700514  2024
...                              ...        ...        ...   ...
375183            FAMILY DISTURBANCE  30.286072 -97.761145  2020
375184                    AUTO THEFT  30.394689 -97.648008  2020
375185             CRIMINAL TRESPASS  30.360633 -97.717193  2020
375186  POSS CONTROLLED SUB/NARCOTIC  30.340367 -97.693539  2020
375187           BURGLARY OF VEHICLE  30.266025 -97.732114  2020

[375188 rows x 4 columns]

In [14]:

year2020 = "2020"
year2021 = "2021"
year2022 = "2022"
year2023 = "2023"
year2024 = "2024"

In [15]:
df_2020 = fourth_df[fourth_df["year"] == year2020].reset_index(drop=True)
df_2020

         Highest Offense Description   Latitude  Longitude  year
0                         AUTO THEFT  30.403632 -97.748140  2020
1                     DEADLY CONDUCT  30.295053 -97.626987  2020
2            CRED CARD ABUSE - OTHER  30.314853 -97.751511  2020
3                 FAMILY DISTURBANCE  30.232561 -97.731967  2020
4      BURGLARY OF VEH-NO SUSPECT/FU  30.393053 -97.746685  2020
...                              ...        ...        ...   ...
90752             FAMILY DISTURBANCE  30.286072 -97.761145  2020
90753                     AUTO THEFT  30.394689 -97.648008  2020
90754              CRIMINAL TRESPASS  30.360633 -97.717193  2020
90755   POSS CONTROLLED SUB/NARCOTIC  30.340367 -97.693539  2020
90756            BURGLARY OF VEHICLE  30.266025 -97.732114  2020

[90757 rows x 4 columns]

In [16]:
df_2021 = fourth_df[fourth_df["year"] == year2021].reset_index(drop=True)
df_2021

          Highest Offense Description   Latitude  Longitude  year
0                   CRIMINAL MISCHIEF        NaN        NaN  2021
1                          AUTO THEFT  30.435145 -97.641218  2021
2                               THEFT  30.273521 -97.700570  2021
3                  FAMILY DISTURBANCE  30.404854 -97.713712  2021
4                          MAIL THEFT  30.256857 -97.886794  2021
...                               ...        ...        ...   ...
84184  INDECENCY WITH A CHILD/CONTACT        NaN        NaN  2021
84185             AGG RAPE OF A CHILD        NaN        NaN  2021
84186                            RAPE        NaN        NaN  2021
84187       INVASIVE VISUAL RECORDING        NaN        NaN  2021
84188       INVASIVE VISUAL RECORDING        NaN        NaN  2021

[84189 rows x 4 columns]

In [17]:
df_2022 = fourth_df[fourth_df["year"] == year2022].reset_index(drop=True)
df_2022

,Highest Offense Description,Latitude,Longitude,year
0,BURGLARY OF SHED/DETACHED GARAGE/STORAGE UNIT,30.253070,-97.872824,2022
1,AUTO THEFT,30.391062,-97.654093,2022
2,FAMILY DISTURBANCE,30.318607,-97.687937,2022
3,DWI .15 BAC OR ABOVE,30.363880,-97.719294,2022
4,AUTO THEFT,30.392468,-97.655478,2022
...,...,...,...,...
81147,IDENTITY THEFT,30.437772,-97.793423,2022
81148,THEFT OF LICENSE PLATE,30.170756,-97.611862,2022
81149,ONLINE IMPERSONATION,NaN,NaN,2022
81150,FAILURE TO REG AS SEX OFFENDER,NaN,NaN,2022
81151,INDECENT EXPOSURE,NaN,NaN,2022

In [18]:
df_2023 =  fourth_df[fourth_df["year"] == year2023].reset_index(drop=True)
df_2023

      Highest Offense Description   Latitude  Longitude  year
0                             DWI  30.219686 -97.836112  2023
1              ASSAULT BY CONTACT  30.319414 -97.691491  2023
2                 RAPE OF A CHILD        NaN        NaN  2023
3              FAMILY DISTURBANCE  30.150817 -97.740854  2023
4          BURGLARY NON RESIDENCE  30.362657 -97.669608  2023
...                           ...        ...        ...   ...
79725                         DWI  30.249863 -97.729099  2023
79726           CRIMINAL MISCHIEF  30.275179 -97.750652  2023
79727   THEFT CATALYTIC CONVERTER  30.301008 -97.709925  2023
79728         BURGLARY OF VEHICLE  30.294043 -97.741247  2023
79729          FAMILY DISTURBANCE  30.366492 -97.716000  2023

[79730 rows x 4 columns]

In [19]:
df_2024 = fourth_df[fourth_df["year"] == year2024].reset_index(drop=True)
df_2024

,Highest Offense Description,Latitude,Longitude,year
0,ASSAULT WITH INJURY,30.239642,-97.727867,2024
1,FAMILY DISTURBANCE,30.170268,-97.801736,2024
2,FAMILY DISTURBANCE,30.201093,-97.750254,2024
3,CRIMINAL MISCHIEF,30.354953,-97.619379,2024
4,AGG ASSAULT,30.396289,-97.700514,2024
...,...,...,...,...
39355,BURGLARY OF SHED/DETACHED GARAGE/STORAGE UNIT,30.231857,-97.784782,2024
39356,RAPE OF A CHILD,NaN,NaN,2024
39357,HARASSMENT,30.198640,-97.793431,2024
39358,CRED CARD ABUSE - OTHER,30.243151,-97.688917,2024
39359,HARASSMENT,30.158704,-97.748934,2024

In [20]:
df_2020.to_csv("Austin_crime_reports_2020.csv", index=False)
df_2021.to_csv("Austin_crime_reports_2021.csv", index=False)
df_2022.to_csv("Austin_crime_reports_2022.csv", index=False)
df_2023.to_csv("Austin_crime_reports_2023.csv", index=False)
df_2024.to_csv("Austin_crime_reports_2024.csv", index=False)

In [23]:
unique_offenses = fourth_df['Highest Offense Description'].unique()
unique_offenses_list = unique_offenses.tolist()

In [24]:
with open('unique_offenses.txt', 'w') as f:
    for offense in unique_offenses_list:
        f.write(f"{offense}\n")